@font-face {
    font-family: 'font';
    src: url('TheLabothings.ttf')  format('truetype');
}    
h1 
{
    font-family: 'font';
    font-size: 140px;
    color: #253D7E;
}
h2 
{
    font-family: 'font';
    font-size: 72px;
    color: #253D7E;
}
h3 
{
    font-family: 'font';
    font-size: 24px;
    color: #253D7E;
}
body
{
    text-align: center;
    color: #253D7E;
}
